* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
  list-style: none;
  text-decoration: none;
}

header {
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: #fff;
}

body {
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
}

#nav {
  display: flex;
}

h1 {
  color: #3e927d;
  margin-left: -100px;
}

h2 {
  color: #fff;
  font-size: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin-top: 10px;
}

h3 {
  color: #fff;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin-top: 10px;
}

.container {
  display: flex;
  background-color: #fff;
  width: 20%;
  flex-direction: column;
  justify-content: center;
  height: auto;
  border-radius: 10px;
  padding: 30px 15px;
}

/* .block1 {
  display: flex;
  height: 200px;
  color: #fff;
  flex-direction: column;
  justify-content: center;
} */

.block2 {
  height: 350px;
  color: #060505;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

#content {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.list {
  color: black;
}

#inputs {
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 50px;
  font-size: 18px;
}

#searchBtn {
  background-color: #459e85;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 100px;
  height: 50px;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  /* margin-top: auto;
  margin: 400px auto 0; */
}

#searchBtn:hover {
  background-color: #2e6b5f;
}

.list2 {
  margin-left: 20px;
}

#search {
  display: flex;
  flex-direction: column;
}

.revealSearch {
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
}

#bookCart {
  background-color: #459e85;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  font-size: 16px;
}

.total {
  display: flex;
  background-color: #f5eeee;
  justify-content: space-around;
  margin: 10px;
  padding: 2px;
  border-radius: 5px;
}

#departure {
  padding-left: 10px;
  background-color: #f0f0f0;
  border: none;
  border-bottom: solid grey 1.5px;
  margin-bottom: -10px;
}

#arrival {
  padding-left: 10px;
  background-color: #f0f0f0;
  border: none;
  margin-bottom: 40px;
}

#date {
  padding-left: 10px;
  background-color: #f0f0f0;
  border: none;
  color: grey;
}

#price {
  display: flex;
  justify-content: space-between;
}

.imageTrain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

hr {
  color: green;
  height: 5px;
  width: 15vw;
  background-color: #459e85;
  margin: 10% 0px;
  border-radius: 10px;
}

#train {
  height: 50%;
  width: auto;
}
